.noScur {
cursor:default;
}

li {
    list-style-type: none;
}

.sortable {
left: -10px;
}

.sortable li {
    position: relative;
    padding-top: 1px;
    padding-bottom: 2px;
    cursor: pointer;
    left: -20px;
}

a {
cursor: pointer;
}

.tab a:hover,.hub a:hover {
color: #9e9e9e;
}

.my-panel {color:#fff !important; background-color:#f44336 !important}

.my-disactive {
font-weight: normal;
}

.my-active {
color:#f44336;
//color:#000;
font-weight: 600;
}



#scroll::-webkit-scrollbar
{
	width: 6px;
	background-color: #F7F7F7;
}

#scroll::-webkit-scrollbar-thumb
{
	background-color: #ccc;
}
