html,body {
    height:100%;
}

.noScur {
cursor:default;
}

li {
    list-style-type: none;
}

li:not(.wrap) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sortable {
left: -10px;
}

.sortable li {
    position: relative;
    padding-top: 1px;
    padding-bottom: 2px;
    left: -20px;
}

li:not(.hub) > ul > .ui-state-highlight { background-color: #fff; border:1px solid #ccc; height: 1.5em; line-height: 1.2em; }

a, .sortable i {
cursor: pointer;
}

.tab a:hover,.tab-root a:hover,.hub a:hover {
    color: #f6665c;
    font-weight: 600;
}

.my-panel {color:#fff !important; background-color:#f44336 !important}

.my-disactive {
font-weight: normal;
}

.my-active {
color:#f44336;
//color:#000;
font-weight: 600;
}

.my-tooltip {
    position:absolute;
    right:18px;
    bottom:18px;
    opacity: 0.5;
    font-weight: 600;
}

.scroll::-webkit-scrollbar
{
	width: 6px;
	height: 0px;
	background-color: #F7F7F7;
}

.scroll::-webkit-scrollbar-thumb
{
	background-color: #ccc;
}

.my-label {
    position: absolute;
    top: 6px;
    right: 6px;
}

.my-span {
    position: absolute;
    top: 6px;
    right: 6px;
}
.my-spaned {
    position: relative;
}

.my-labeled {
    position: relative;
}

.my-in-shadow {
box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.16);
}

.active-elem {
    color: #f6665c;
    font-weight: 600;
}

#handle {
    cursor: col-resize;
    width: 8px;
    height:80%;
    position:absolute;
    left: 30%;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
    margin-left: -4px;
}

@media only screen and (min-width:993px){
#left {width: 30%}
#right {width: 70%}}

header, footer {
    overflow-x:hidden;
    white-space: nowrap;
}
